
/****** MOBILE MENU */

/*TOGGLE*/
.toggle-wrap {
	top:20px;
	width:50px;height: 43px;
	position:absolute; left: auto;right:15px;z-index: 20;	
	background: $gold;	
}
//toggle-button
.toggle-button {
	cursor: pointer;	
	width: 50px; height: 43px;	
	margin:0;position: relative;border: none;z-index: 10;background: none;
	top: 0px;left: 0;
	@include transform($type:rotate(0deg));	
	
	span {
		display: block;position: absolute;width: 24px;background: #FFF;@include opacity(1);	right: 13px;
		height: 2px;border-radius: 0px;
		@include transition(all $medspeed $ease);

		&:nth-child(1) { top: 20px;@include transform($type:rotate(135deg));}
		&:nth-child(2) { @include opacity(0); top: 20px;right: -10px;@include transition(all $medspeed $ease);}
		&:nth-child(3) { top: 20px; @include transform($type:rotate(-135deg));}		
	}
	
	&.collapsed {		
		span {			
			@include transform($type:rotate(0deg));
			&:nth-child(1) { top: 12px;}
			&:nth-child(2) { top: 20px;@include opacity(1);right: 13px;}
			&:nth-child(3) { top: 28px;}
		}
	}	
}



/****** MOBILE SIDE MENU */

.mobile-nav-wrap {
	padding: 0;
	position: fixed;
	top: 0;
	z-index: 10;
	width: 100%;
	
}
.mobile-menu-wrap {
	background: #FFF;
	ul {
		padding:15px 30px;margin: 0;text-align: left;width:100%;
		list-style: none;
		
		li {
			padding: 10px 0;text-transform: uppercase;font-size: 20px;line-height: 28px;
			//letter-spacing: 1.2px;
			
			position: relative;
			a {	
				display: block;text-decoration: none;
				@include transition(color $medspeed $ease);
				color:$bluetext;font-weight: 600;
				
				&:hover {
					color:$gold;
					@include transition(color $medspeed $ease);}
			}
			
			&.active {
				a {
					color:$gold;
				}
			}
			
		}

	
	}
	
}

.mobile-nav-wrap {
	display: block;
	
	@media (min-height: $minheight) and (min-width: $sm) {
		display: none;
		
	}
}


