/*slides.scss */
.full-screen {
    height: 100%;
    width: 100%;
	position: relative;
	left: 0px;
}

.content-wrap {
	position: relative;
	padding: 30px 15px;
	background-color: rgba(255,255,255,0.9);
	z-index: 4;
	
	&.no-bg-mobile {
		padding: 0;
		background-color: transparent;
	}
	
	p {
		margin: 0;
	}
	
	
	&.light-text p, &.white-text p {
		color: #FFF;
	}
	
	&.brown-text p {
		color: $browntext;
	}
	&.blue-text p {
		color: $bluetext;
	}
	
	&.black-bg {
		background: rgba(0,0,0,0.6);
		padding: 24px;
		
		p {
			color: #FFF;
		}
	}
	
	.no-pad {
		padding: 0;
	}
}

#wrapper {
	/* Prevent native touch events on Windows */
 -ms-touch-action: none;
  touch-action: none;

  /* Prevent the callout on tap-hold and text selection */
 -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  /* Prevent text resize on orientation change, useful for web-apps */
 -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
	
	position: relative;
	z-index: 0;
}

.parallax {
    color: #ffffff;
	@include sans();
	width:100%;
	height: auto;
	position: relative;
	display: block;
	//overflow: scroll;
	z-index: 1;
	
	//position: absolute;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
	

	
}


.slide {
	width:100%;
	min-height: 400px;
	display:block;
	position: relative;
	z-index: 0;
	padding: 30px 15px;
	overflow: visible;
	@include coverBG($attachment:scroll, $position: center center);
	
}



.thumb-wrap {
	padding: 30px 0;
	z-index: 4;
	
	a {
		cursor: pointer;
		
		&:hover {
			cursor: pointer;
		}
	}
	
	img {
		width: 100%;height: auto;
		max-width: 70%;
		display: block;
		margin: 0 auto 30px auto;
	}
	
}

.container-fluid {
	position: relative;
	z-index: 3;
}
img.divider {
	position: relative;
	z-index: 0;
}
@media (max-height: $readableheight), (max-width: $md) {
	.content-wrap.bg-color-md {
		padding: 30px 30px;
		background-color: rgba(255,255,255,0.9);
		
		&:before {
			position: absolute;
			border: 1px solid rgba(0,0,0,0.3);
			left: 10px;
			right: 10px;
			top: 10px;
			bottom: 10px;
			content: "";
		}
		
		
		&.light-text {
			background-color: rgba(0,0,0,0.7);
			
			&:before {
				border: 1px solid  rgba(255,255,255,0.3);				
			}
		}
		
		
		&.black-bg {			
			padding: 0;background-color: transparent;			
			.fade-wrap {
				background: rgba(0,0,0,0.6);
				padding: 24px;
			}
			
			&:before {
				border: 1px solid  rgba(255,255,255,0.3);				
			}
		}
	}
	
}


@media (min-height: $minheight) and (min-width: $sm) {
	
	img.divider {
		display: block;
		position: absolute;
		z-index: 0;
		right: -10vw;
		top: 0;
		bottom: 0;
		left: auto;
		height: 100vh;
		width:auto;
		
		@include opacity(1);@include transition(opacity $longspeed $ease);
	}
	
	img.texture {
		@include opacity(1);@include transition(opacity $longspeed $ease);		
		height: 100vh;width: auto;top: 0;left: 0;position: absolute;
		z-index: 1;
	}
	
	
	.foreground {
		height: 100vh;
		width: auto;
		z-index: 2;
		right:auto;
		top: 0;
		bottom: 0;
		left: 5%;
		position: absolute;
		@include opacity(1);@include transition(opacity $longspeed $ease);
	}
	
	
	.container-fluid {
		height: 100%;
		position: relative; 
		z-index: 4;
	}
	.row {
		padding: 40px;
		
		.row {
			padding: 0;
		}
		
		&.pb-0 {
			padding-bottom: 0;
		}
		&.full-height {
			height: 100%;
		}
		
		&.half-height {
			height: 50%;
		}
		
		.container-wrap, .thumb-wrap {
			left:auto;
			right: auto;
			top: auto;
			bottom: auto;
			width: auto;
			position: relative;
		}
	}
	.parallax {
		height: 100vh;

	}
	
	.slide {
		float: left;
		height: 100vh;
		padding: 0;

		
	}
	.content-wrap {
		padding: 0;
		background-color: transparent;
		
		&.black-bg {
			
			padding: 0;background-color: transparent;
			
			.fade-wrap {
				background: rgba(0,0,0,0.6);
				padding: 24px;
			}
		}
		
		&.light-bg {
			
			padding: 0;background-color: transparent;
			
			.fade-wrap {
				background:rgba(255,255,255,0.9);
				padding: 24px;
			}
		}

	}
	
	.wrap {
		@include transition(all $medspeed $ease);
		opacity: 0;
	}


	.content-wrap {
		position: absolute;		
	}
	
	.thumb-wrap {
		z-index: 5;
		right:0;
		top: auto;
		bottom: 10%;
		left: auto; 
		position: absolute;
		padding: 0;
		
		.fade-wrap {
			align-items: center;
			justify-content: center;
			display: flex;
		}
		
		a {
			position: relative;
			display: block;
			outline: none;
		}
		img {
			width: 94%;height: auto;
			margin: 15px;
			max-width: 250px;
			@include box-shadow(0px, 0px, 20px, rgba(0,0,0,0.8));
			outline: none;
			position: relative;
		}
		
		
	}
	
	
}

@media (max-height: $minheight), (max-width: $md) {
	.hide-md {
		display: none !important;
	}
	
}

@media (max-height: $minheight), (max-width: $sm) {
	.hide-mobile {
		display: none !important;
	}
	
	
}
