/* loading.scss */
#loading-screen {
	display:none;width:0;height:0;overflow:hidden;
}
@media (min-height: $minheight) and (min-width: $sm) {
	
	.csstransitions {
		
		#loading-screen {
			background-color:transparent;width:100%;height:100%;position:fixed;top:0;left:0;z-index:-1;display:block;opacity:1;
		}
		.loading-icon {
			background-repeat:no-repeat;background-position:center center;position:absolute;opacity:0;top:0;left:0;width:100%;height:100%;display:block;opacity:1;
			
			&.spin {
				animation: 2s cubic-bezier(0.63, 0.045, 0.34, 1) 0s normal none infinite spinning_animation;
				-webkit-animation: 2s cubic-bezier(0.63, 0.045, 0.34, 1) 0s normal none infinite spinning_animation;
			}
			
			&.bounce {
				animation: 2s cubic-bezier(0.63, 0.045, 0.34, 1) 0s normal none infinite bounce_in_animation;
				-webkit-animation: 2s cubic-bezier(0.63, 0.045, 0.34, 1) 0s normal none infinite bounce_in_animation;
			}
			
			&.grow {
				animation: 2s cubic-bezier(0.63, 0.045, 0.34, 1) 0s normal none infinite grow_in_animation;
				-webkit-animation: 2s cubic-bezier(0.63, 0.045, 0.34, 1) 0s normal none infinite grow_in_animation;
			}
			
			
			.material-icon {
				
				top:50%;height:65px;width:65px;position:relative;margin:-32px auto 0 auto;display:block;
				
				.spinner {
					width:60px;height:60px;position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;

					-webkit-animation: material-rotate-all 1s linear infinite;
					animation: material-rotate-all 1s linear infinite;


					.right-side, .left-side {
						-webkit-animation: material-fade-in-first 1.2s linear infinite alternate;
						animation: material-fade-in-first 1.2s linear infinite alternate;

						width:50%;height:100%;position:absolute;top:0;overflow:hidden;

					}

					.bar {
						width:100%;height:100%;-moz-border-radius:200px 0 0 200px;-webkit-border-radius:200px;border-radius:200px 0 0 200px;border:6px solid $teallight;position:relative;

						&:after{
							content:"";width:6px;height:6px;display:block;background:$teallight;position:absolute;-moz-border-radius:6px;-webkit-border-radius:6px;border-radius:6px;
						}
					}

					.left-side {
						left: 0;

						 .bar {
							border-right: none;
							-webkit-transform: rotate(10deg);
							transform: rotate(10deg);
							-webkit-transform-origin: right center;
							transform-origin: right center;
							-webkit-animation: material-rotate-left 0.75s linear infinite alternate;
							animation: material-rotate-left 0.75s linear infinite alternate;

							 &:after {
								bottom: -6px;
								right: -3px
							}
						}


					}

					.right-side {
						right: 0;

						.bar {
							-moz-border-radius: 0 200px 200px 0;
							-webkit-border-radius: 0;
							border-radius: 0 200px 200px 0;
							border-left: none;
							-webkit-transform: rotate(-10deg);
							-webkit-transform-origin: left center;
							transform: rotate(-10deg);
							transform-origin: left center;
							-webkit-animation: material-rotate-right 0.75s linear infinite alternate;
							animation: material-rotate-right 0.75s linear infinite alternate;

							&:after {
								bottom: -6px;
								left: -3px
							}
						}

					}
				
				}

			}
			
			
			
		}	
	
	}
	
}


@keyframes material-rotate-left {  
	to{transform:rotate(30deg)}
	from{transform:rotate(175deg)}
}
@keyframes material-rotate-right{  
	from{transform:rotate(-175deg)}
	to{transform:rotate(-30deg)}
}
@keyframes material-rotate-all{
	from{transform:rotate(0deg)}
	 to{transform:rotate(-360deg)}
}
@keyframes material-fade-in-first{
	from{opacity:1}
	 to{opacity:0}
}
@keyframes material-fade-in-second{
	from{opacity:0}
	 to{opacity:1}
}


@-webkit-keyframes spinning_animation{
	0%{-webkit-transform:scale(1) rotate(0deg)}
	50%{-webkit-transform:scale(0.8) rotate(360deg)}
	100%{-webkit-transform:scale(1) rotate(720deg)}
}

@keyframes spinning_animation{
	0%{
		-o-transform:scale(1) rotate(0deg);
		transform:scale(1) rotate(0deg);
	
	}
	50%{
		 -o-transform:scale(0.8) rotate(360deg);
		transform:scale(0.8) rotate(360deg);
	}
	100%{
		-o-transform:scale(1) rotate(720deg);
		transform:scale(1) rotate(720deg);
	}
}


@-webkit-keyframes bounce_in_animation{
	0%{-webkit-transform:scale(0,0)}
	20%{-webkit-transform:scale(1.4,1.4)}
	50%{-webkit-transform:scale(0.8,0.8)}
	85%{-webkit-transform:scale(1.1,1.1)}
	100%{-webkit-transform:scale(1,1)}
}

@keyframes bounce_in_animation{
	0%{
		-o-transform:scale(0,0);
		transform:scale(0,0);
	}
	20%{
		-o-transform:scale(1.4,1.4);
		transform:scale(1.4,1.4); 
	}
	50%{
		 -o-transform:scale(0.8,0.8);
		transform:scale(0.8,0.8);
	}
	85%{
		-o-transform:scale(1.1,1.1);
		transform:scale(1.1,1.1);
	}
	100%{
		-o-transform:scale(1,1);
		transform:scale(1,1);
	}
}

@-webkit-keyframes grow_in_animation{
	0%{-webkit-transform:scale(0,0)}
	100%{-webkit-transform:scale(1,1)}
}
@keyframes grow_in_animation{
	0%{
		-o-transform:scale(0,0);
		transform:scale(0,0);
	}
	100%{
		-o-transform:scale(1,1);
		transform:scale(1,1);
	}
}