/*content.scss */

.text-left { text-align: left !important}
.text-center { text-align: center !important}
.text-right { text-align: right !important}
ul { list-style-type: none}

.table { display: table; width: 100%; height: 100%}
.cell { display: table-cell; vertical-align: middle; width: 100%; height: 100%}


h2 {
	font-size: 36px;
	line-height:36px;
	color: $teal;
	text-transform: uppercase;
	@include headline();
	display: block;

}
h3 {
	font-size: 46px;
	line-height: 36px;
	color: $gold;
	text-transform: uppercase;
	display: block;
	@include military();

}
p {
	font-size: 17px;
	line-height: 24px;
	color: $text;
	display: block;

}

@media (min-height: $minheight) and (min-width: $sm) {
	h2 {
		font-size: 70px;
		line-height: 60px;
		margin-bottom: 20px;
		
		max-width: $xllg;
		
		&.smaller {
			font-size: 60px;
			line-height: 55px;
		}
		
		&.smallest {
			font-size: 52px;
			line-height: 47px;
		}
	}
	h3 {
		padding-left:40px;
		font-size: 80px;
		line-height: 80px;
		margin-bottom:-15px;
	}
	p {
		padding-left: 70px;
		max-width: 900px;
		&.pad-0 {
			padding: 0;
		}
	}
	
	.fade-wrap {
		@include transition(all $medspeed $ease);
		//@include transform(translateZ(0));
		opacity: 0;
		
		.container.no-pad {
			max-width: none; 
		}
		
		/*&.in-view{
			@include transition(all $medspeed $ease);
			opacity: 1;
			@include delay(0.3s);
		}*/

	}
	
	/*.active {
		.fade-wrap {
			@include transition(all $medspeed $ease);
			opacity: 1;
			@include delay(0.3s);
			
		}
	}*/
	
	
}